@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-fira-code), monospace;
  cursor: default;
  overflow-x: hidden;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
