@keyframes falling {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.falling-text {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    display: inline-block;
    animation: falling 2s ease-in-out forwards;
  }
}
